* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif;
}

/* Universal classes */

/* COLUMN WIDTH */

:root {
  --column-width: 280px;
  --column-top: 32px;
  --add-task-height: 42px;
  --column-header-width: 236px;
  --column-header-height: 20px;
  --card-width: 260px;
}
